@media screen and (max-width: 1440px){
    .article{
        float: left;
        list-style: none;
        position: relative;
        width: 395px !important;
        margin-right: 20px;
    }
    .bottom-video{
        float: left;
        list-style: none;
        position: relative;
        width: 385px !important;
        margin-right: 215px;
    }


}
@media screen and (max-width: 1024px){

    .personal-cab {
        display: flex;
        align-items: center;
        width: 26%;
    }
    .personal-cab p {
        left: 36%;
        position: relative;
        top: -28px;
        font-variant: small-caps;
        font-family: "open sans",sans-serif;
        font-size: 1.4em;
    }
    .page-link {
        display: inline-block;
        font-family: "open sans",sans-serif;
        padding: 0 11px;
        font-variant: small-caps;
        font-size: 1.3em;
        border: none;
        background-color: initial;
        outline: none;
    }
    .lang {
        position: relative;
        top: -25%;
    }
    .search input {

        float: left;
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 1px solid rgba(156, 156, 156, 0.51);
        background-color: initial;
        background-image: url("../images/searchicon.png");
        background-size: 29px 29px;
        background-repeat: no-repeat;
        background-position: right center;
        width: 76%;

    }
    .article{
    float: left;
    list-style: none;
    position: relative;
    width: 395px !important;
    margin-right: 20px;
    }
    #video1 video {
        width: 100%;
        position: absolute;
        border-radius: 26px;
        border: 1px solid gray;
        box-shadow: 1px 1px 8px 1px grey;
    }
    #video2 video {
        width: 100%;
        border-radius: 26px;
        box-shadow: 1px 1px 8px 1px grey;
    }
    .bottom-video{
        float: left;
        list-style: none;
        position: relative;
        width: 395px !important;
        margin-right: 28px;
    }
    .footer-logo {
        display: flex;
        width: 40%;
    }
    .loginform {
        padding: 40px 10px;
        border-radius: 20px;
        width: 40%;
    }
    .registrationform {
        padding: 40px 70px;
        border-radius: 20px;
        width: 40%;
    }
    .footernav{
        padding-left: 27px;
    }



}
@media screen and (max-width: 768px) {
    .header-bottom {
        width: 100%;
        background-color: #556372;
        padding: 78px 0;
        text-align: center;
        color: white;
        font-family: open sans,sans-serif;
        font-variant: small-caps;
        font-size: 4em;
        margin-top: 105px;
    }

    .homeblock h3 {
        padding-top: 80px;
        padding-bottom: 20px;
        padding-left: 100px;
        font-family: "open sans", sans-serif;
        color: #b10d0d;
        font-size: 1.5em;
        font-weight: 100;
    }

    .bx-wrapper img {
        max-width: 80% !important;
        display: block;
        border-radius: 20px;
        box-shadow: 1px 1px 6px 1px rgba(143, 143, 143, 0.41);
    }
    .search input {
        float: left;
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 1px solid rgba(156, 156, 156, 0.51);
        background-color: initial;
        background-image: url(../images/searchicon.png);
        background-size: 29px 29px;
        background-repeat: no-repeat;
        background-position: right center;
        width: 98%;
    }

    .article {
        float: left;
        list-style: none;
        position: relative;
        width: 395px !important;
        margin-right: 10px !important;
    }

    .homeblock h3 {
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 0;
        font-family: "open sans", sans-serif;
        color: #b10d0d;
        font-size: 1.5em;
        font-weight: 100;
    }

    .blogsliderwrap{
        padding: 0px 204px;
    }
    .videosliderwrap{
     padding: 0 177px;
    }

    .bx-wrapper .bx-prev {
        left: -175px !important;
        background: url(../images/backarrow.png) no-repeat 0 3px !important;
        transition: all 0.5s ease-in-out;
    }
    .bx-wrapper .bx-next {
        right: -175px !important;
        background: url(../images/nextarrow.png) no-repeat 0 3px !important;
        transition: all 0.5s ease-in-out;
    }
    .main-videowrap {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 359px;
        position: relative;
    }
    .footernav li {
        display: inline-block;
        font-family: "open sans",sans-serif;
        padding: 0 11px;
        font-variant: small-caps;
        font-size: 1.3em;
    }
    .footer-logo img {
        width: 218px;
        padding-left: 43px;
        height: 119px;
    }
    .footer-logo {
        display: flex;
        width: 32%;
    }
    .letters-list li {
        display: inline-block;
        font-size: 98%;
        margin-bottom: 10px;
    }
    .nav-top{
        display: none;
    }
    .pic-link img{
        width: 22%;
    }
    .personal-cab {
        display: flex;
        width: 27%;
        justify-content: flex-end;
    }
    .burger-btn{
        width: 35px;
        height: 35px;
        background-image: url(../images/burger-menu.png);
        background-color: white;
        border: none;
        outline: none!important;
        margin:25px 0;
        display: block;
    }
    .personal-cab p {
        left: 38%;
        position: relative;
        top: -28px;
        font-variant: small-caps;
        font-family: "open sans",sans-serif;
        font-size: 1.3em;
    }
    .lang {
        position: relative;
        top: -29%;
    }
    .pic-link img {
        width: 29%;
    }
    .personal-cab a {
        text-decoration: none;
        color: #556372;
        font-family: "open sans", sans-serif;
        font-size: 15px;
    }
    .logo{
        width: 25%;
    }
    .registrationform {
        padding: 22px 56px;
        border-radius: 20px;
        width: 50%;
    }
    .loginform {
        padding: 40px 21px;
        border-radius: 20px;
        width: 48%;
    }
    .cardpic img {
        border-radius: 7px;
        width: 157px;
    }
    .userpic img {
        border-radius: 7px;
        width: 157px;
    }
    .moblile-menu {
        width: 100%;
        height: 45px;
    }
    .mobile-nav{
        margin-top: 106px;
    }
    .mobile-nav ul {
        padding: 0 172px;
    }
    .mobile-nav li{
        display: inline-block;
        padding: 0 17px;
        line-height: 50px;
    }
    .mobile-nav a{
        color: #556372;
        font-variant: all-small-caps;
        font-size: 20px;
        font-weight: 500;
        font-family: "open sans", sans-serif;
    }
    .mobile-nav a:hover{
        color: #b10d0d;
    }
    .services {
        margin-top: 110px;
        background-color: white;
    }
    .blog {
        margin-top: 110px;
        background-color: white;
    }
    .aboutus {
        margin-top: 110px;
        background-color: #ffff;
    }
    #map {
        width: 100%;
        height: 450px;
        background-color: #929292;
        margin-top: 110px;
    }
    .authorization-block nav {
        padding: 20px 10px;
        box-shadow: 1px 0px 5px 1px rgba(164, 164, 164, 0.2);
        margin-top: 110px;
    }
    .moblile-menu{
        display: none;
        margin-bottom: -103px;
    }
    .show-hide{
        display: block;
    }


}
@media screen and (max-width: 425px){
    .logo {
        width: 65%;
    }
    .personal-cab {
        display: none;
        width: 27%;
        justify-content: flex-end;
    }
    .acount-mobile{
        display: block;
        width: 40%;
    }
    .header-bottom {
        width: 100%;
        background-color: #556372;
        padding: 78px 0;
        text-align: center;
        color: white;
        font-family: open sans,sans-serif;
        font-variant: small-caps;
        font-size: 4em;
        margin-top: 105px;
    }
    .personal-cab p {
        left: 64%;
        position: relative;
        top: -21px;
        font-variant: small-caps;
        font-family: "open sans",sans-serif;
        font-size: 1em;
        width: 174%;
    }
    .mobile-nav li {
        display: block;
        padding: 0 17px;
        line-height: 50px;
    }
    .mobile-nav ul {
        padding: 0px 0px;
        float: right;
    }
    .moblile-menu {
        margin-bottom: -149px;
    }
    .show-hide {
        display: block;
        width: 186px;
        height: 385px;
        margin-right: 0px;
        position: fixed;
        right: 0;
        top: 0;
        background-color: white;
        z-index: 999;
    }
    .blogsliderwrap {
        padding: 0px 38px;
    }
    .bx-wrapper .bx-prev {
        left: -40px !important;
        background: url(../images/backarrow.png) no-repeat 0 3px !important;
        transition: all 0.5s ease-in-out;
        display: none;
    }
    .bx-wrapper .bx-next {
        right: -35px !important;
        background: url(../images/nextarrow.png) no-repeat 0 3px !important;
        transition: all 0.5s ease-in-out;
        display: none;
    }
    .videosliderwrap {
        padding: 0 8px;
    }
    .main-videowrap {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 314px;
        position: relative;
    }
    .footer-logo img {
        width: 204px;
        padding-left: 29px;
        height: 107px;
    }
    .footer-logo {
        display: flex;
        width: 33%;
    }
    .footernav {
        padding-left: 118px;
    }
    .footer-bottom p {
        padding-left: 5px;
        font-family: "open sans", sans-serif;
        font-size: 1em;
        color: #556372;
    }
    .social{
        padding-right: 0;
    }
    .footernav li {
        display: inline-block;
        font-family: "open sans",sans-serif;
        padding: 0 0px;
        font-variant: small-caps;
        font-size: 1.3em;
    }
    .amount p{
        display: none;
    }
    .amount-item {
        width: 38%;
        align-self: center;
        font-family: "open sans", sans-serif;
        color: #b10d0d;
    }
    .amount-img {
        width: 53%;
    }
    .select-item p {
        display: none;
    }
    .select-item {
        width: 38%;
        align-self: center;
        font-family: "open sans", sans-serif;
        color: #b10d0d;
    }
    .select-img {
        width: 53%;
        align-self: center;
    }
    .search {
        width: 59.33%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-right: 1px solid rgba(156, 156, 156, 0.51);
    }
    .search input {
        float: left;
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 1px solid rgba(156, 156, 156, 0.51);
        background-color: initial;
        background-image: none;
        width: 98%;
        font-size: 14px;
    }
    .testswrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 23px 0px;
    }
    .articleblog {
        width: 100%;
        padding: 0 10px;
    }
    .blogfulltext p:nth-child(3) {
        padding: 0 10px;
        font-family: "open sans", sans-serif;
        line-height: 30px;
    }
    .tests ul {
        text-align: center;
        width: 35%;
        margin: 0 auto;
    }
    .intropic {
        background-image: url(../images/aboutus.jpg);
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
    }
    .adress ul {
        width: 86%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 50px;
    }
    .authorization-block h2 {
        text-align: center;
        padding: 10px 0 35px 0;
        font-family: "open sans", sans-serif;
        font-size: 2.3em;
    }
    .loginform h3 {
        font-family: "open sans", sans-serif;
        font-size: 1.3em;
    }
    .picwrap {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .userpic img {
        border-radius: 7px;
        width: 157px;
        margin-bottom: 10px;
    }
    .recover {
        display: flex;
        justify-content: space-between;
        width: 85%;
        font-family: "open sans", sans-serif;
        flex-direction: column;
        height: 46px;
    }
    .remeber {
        width: 100%;
        display: flex;
    }
    .recoverpass {
        width: 100%;
    }
    .loginform {
        padding: 15px 21px;
        border-radius: 20px;
        width: 48%;
        height: 642px;
    }
    .registrationform {
        padding: 15px 17px;
        border-radius: 20px;
        width: 50%;
        height: 642px;
    }
    .registrationform h3 {
        font-family: "open sans", sans-serif;
        font-size: 1.3em;
    }
    .regtext {
        font-family: "open sans", sans-serif;
        line-height: 22px;
        margin-bottom: 25px;
        font-size: 16px;
    }
    .registrationform ul{
        padding:0 20px;
    }
    .btnreg {
        width: 100%;
        text-align: center;
        margin-top: 222px;
    }
    .registrationform button {
        width: 65%;
        height: 50px;
        background-color: #b10d0d;
        border: none;
        color: white;
        font-family: "open sans", sans-serif;
        border-radius: 5px;
        cursor: pointer;
    }












































}