.site-wrap{
    background-color: #efefef;
}
.header-top {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
.sitecontainer{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    border-left: 1px solid #8080802e;
    border-right: 1px solid #8080802e;
    box-shadow: 0px -2px 12px 1px #8080802e;
}
.header-topwrap{
    width: 100%;
    background-color: #fcfcfc;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #efefef;
    box-shadow: 0px 1px 1px 0px #929292;
    position: fixed;
    z-index: 9999;
    top: 0;
}
.header-top{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 12%;
}
.logo img{
    width: 100%;
}
.nav-top{
    display: flex;
    align-items: center;
}
.nav-top li {
    display: inline-block;
    font-family: "open sans",sans-serif;
    padding: 0 15px;
    font-variant: small-caps;
    font-size: 1.5em;
}
.nav-top a{
    color: #556372;
}
.nav-top a:hover{
    color: #b10d0d;
}
.personal-cab{
    display: flex;
    align-items: center;
    width: 15%;
}
.personal-cab p{
    left: 50%;
    position: relative;
    top: -28px;
    font-variant: small-caps;
    font-family: "open sans",sans-serif;
    font-size: 1.6em;
}
.personal-cab a{
    text-decoration: none;
    color: #556372;
    font-family: "open sans",sans-serif;
}
.lang{
    position: relative;
    top: -20%;
}
.lang img{
    position: relative;
    top: 25px;
    left: -8px;
}
.header-bottom{
    width: 100%;
    background-color: #556372;
    padding: 150px 0;
    text-align: center;
    color: white;
    font-family:open sans,sans-serif ;
    font-variant: small-caps;
    font-size: 4em;
}
/*end header*/
.homeblock h3{
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 100px;
    font-family: "open sans",sans-serif;
    color: #b10d0d;
    font-size: 1.7em;
    font-weight: 100;
}
.blogsliderwrap, .videosliderwrap{
    padding: 0 100px;
}
.bx-wrapper .bx-next {
    right: -70px !important;
    background: url(../images/nextarrow.png) no-repeat 0 3px !important;
    transition: all 0.5s ease-in-out;
}
.bx-wrapper .bx-next:hover {
    right: -70px !important;
    background: url(../images/nextred.png) no-repeat 0 3px !important;
}
.bx-wrapper .bx-prev {
    left: -70px !important;
    background: url(../images/backarrow.png) no-repeat 0 3px !important;
    transition: all 0.5s ease-in-out;
}
.bx-wrapper .bx-prev:hover {
    left: -70px !important;
    background: url(../images/prevred.png) no-repeat 0 3px !important;
}
.bx-wrapper{
    -moz-box-shadow: 0 0 5px #ccc;
     -webkit-box-shadow: 0 0 5px #ccc;
     box-shadow: none !important;
     border: none !important;
    background: #f3f3f3 !important;
}
.blogwrap{
    background-color: #f3f3f3;
    height: 100%;
}
.blogtext{
    font-family: "open sans", sans-serif;
}
.blogtext p:nth-child(2){
    font-size: 14px;
    margin-bottom: 10px;
}
.blogtext p:nth-child(3){
    font-family: "open sans", sans-serif;
    line-height: 21px;
    margin-bottom: 10px;
    width: 90%;
}
.blogtext h3{
    padding:  10px 0;
}
.bx-wrapper img {
    max-width: 89%!important;
    display: block;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1px rgba(143, 143, 143, 0.41);
}
.bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 550.313px!important;
}
.blogtext button{
    background-color: initial;
    border: 1px solid rgba(177, 13, 13, 0.41);
    width: 115px;
    height: 35px;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}
.blogtext button:hover{
    background-color: #b10d0d;
}
.blogtext a{
    color: #556372;
    text-decoration: none;
    font-family: "open sans", sans-serif;
    font-variant: small-caps;
    font-size: 15px;
    line-height: 50%;
    background-image: none;
    transition: all 1s ease-in-out;
}
.blogtext a:hover{
    color: white;
}
/*end blog*/
.videowrap{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.main-video{
    width: 100%;
}
.main-videowrap{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
#video1 video{
    width: 100%;
    position: absolute;
    border-radius: 50px;
    border: 1px solid gray;
    box-shadow:1px 1px 8px 1px grey;
}
#video2 video{
    width: 100%;
    border-radius: 50px;
    box-shadow:1px 1px 8px 1px grey;
}
#video1,#video2{
    position: relative;
}
.videoslider video{
    width: 402px;
    border-radius: 20px;
}
.secondslider{
    height: 235px !important;
    background-color: white;
}
/*end video*/
.footer-top{
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 40%;
    padding-left: 114px;
}
.footernav li{
    display: inline-block;
    font-family: "open sans",sans-serif;
    padding: 0 15px;
    font-variant: small-caps;
    font-size: 1.5em;
}
.footernav{
    padding-left: 71px;
}
.footernav a{
    color: #556372;
}
.footernav a:hover{
    color: #b10d0d;
}
.footer-bottom{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:  20px 0;
}
.social{
    padding-right: 50px;
}
.social li{
    display: inline-block;
}
.footer-bottom p{
    padding-left: 117px;
    font-family: "open sans", sans-serif;
    font-size: 1em;
    color: #556372;
}
/*end video*/
.authorization-block{
    background-color: #ffffff;
}
.loginform span:after{
    content: "";
    display: block;
    border-bottom: 1px solid #b10d0d ;
    width: 150px;
    margin-bottom: 50px;
}
.authorization-block h2{
    text-align: center;
    padding:100px 0;
    font-family: "open sans", sans-serif;
    font-size: 2.5em;
    margin-top: 100px;
}
.loginwrap{
    display: flex;
    justify-content: space-evenly;
}
.loginform,.registrationform{
    background-color: #eeeeee;
    margin-bottom: 150px;
}
.loginform{
    padding: 150px 150px;
    border-radius: 20px;
    width: 45%;
}
.loginform h3{
    font-family: "open sans", sans-serif;
    font-size: 2em;
}
.picwrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.userpic{
    width: 100%;
}
.cardpic{
    width: 100%;
}
.userpic img{
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px grey;
}
.cardpic img{
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px grey;
}
.exemple1  input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 95%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.71);
}
.exemple1 input::placeholder{
    padding-left: 20px;
    font-family: "open sans", sans-serif;
}
.exemple2 input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 95%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.71);
}
.exemple2 input::placeholder {
    padding-left: 20px;
    font-family: "open sans", sans-serif;
}
.btn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.loginform button{
    width: 83%;
    height: 50px;
    background-color: #b10d0d;
    border: none;
    color: white;
    font-family: "open sans", sans-serif;
    border-radius:5px;
}
/*end loginform*/
.registrationform{
    padding: 150px 150px;
    border-radius: 20px;
    width: 45%;
}
.registrationform h3{
    font-family: "open sans", sans-serif;
    font-size: 2em;
}
.registrationform span:after{
    content: "";
    display: block;
    border-bottom: 1px solid #b10d0d ;
    width: 150px;
    margin-bottom: 50px;
}
.regtext{
    font-family: "open sans", sans-serif;
    line-height: 22px;
    margin-bottom: 25px;
}
.regtext p:nth-child(2){
    font-weight: bold;
}
.registrationform li{
    padding: 10px 0;
    list-style: disc;
    font-family: "open sans", sans-serif;
}
.registrationform button{
    width: 83%;
    height: 50px;
    background-color: #b10d0d;
    border: none;
    color: white;
    font-family: "open sans", sans-serif;
    border-radius:5px;
}
.btnreg{
    width: 100%;
    text-align: center;
    margin-top: 213px;
}
/*  end sign up form */
.aboutus{
    margin-top: 120px;
    background-color: #ffff;
}
.intropic{
    background-image: url("../images/aboutus.jpg");
    width: 100%;
    height: 450px;
    background-size: cover;
}
.aboutus nav{
    padding: 20px 10px;
    box-shadow: 1px 0px 5px 1px rgba(164, 164, 164, 0.2);
}
.aboutus li{
    display: inline-block;
    padding:0 10px;
}
.aboutus a{
    color: #b10d0d;
    text-decoration: none;
    font-variant: small-caps;
}
.aboutus h2{
    text-align: center;
    font-family: "open sans", sans-serif;
    padding: 100px 0;
    font-weight: bold;
    font-size: 2em;
}
.aboutus p:nth-child(4){
    font-family: "open sans", sans-serif;
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
    padding-bottom: 20px;
    font-size: 1.5em;
}
.aboutus p:nth-child(5){
    width: 80%;
    margin: 0 auto;
    font-family: "open sans", sans-serif;
    padding-bottom: 25px;
    font-size: 1.3em;
}
.aboutuslist li{
    padding: 25px 0;
}
.aboutuslist{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:100px;
    font-family: "open sans", sans-serif;
    margin-top: 70px;
}
.aboutuslist h4{
    margin-bottom: 15px;
    color: #b10d0d;
    font-weight: bold;
    font-size: 1.1em;
}
.aboutuslist p{
    font-size: 1.1em;
    padding-bottom: 15px;
}
/*end about us*/
#map{
    width: 100%;
    height: 450px;
    background-color: #929292;
    margin-bottom: 50px;
    margin-top: 125px;
}



















